body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: #1c1c1c;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 550px;
  border-radius: 8px;
  border: 2px solid #ffffff;
  overflow: hidden;
}

.input-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #6943ff;
}

.input-box h2 {
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
}

.input-box input {
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
  padding: 0px 4px;
  font-optical-sizing: auto;
  max-width: 100px;
  font-size: 58px;
  font-weight: 800;
  line-height: 24px;
  text-align: center;
  outline: none;
  letter-spacing: 4px;
  border: 1px solid #ffffff;
  background-color: #6943ff;
  color: #ffffff;
  border-radius: 4px;
  margin-bottom: 24px;
}

.input-box input::-webkit-outer-spin-button,
.input-box input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-box button {
  font-size: 16px;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  color: #000000;
  background-color: #ffffff;
  padding: 12px 24px;
  border-radius: 4px;
  text-align: center;
  border: none;
  outline: none;
  margin-bottom: 24px;
}
.input-box button:hover {
  background-color: #f1f1f1;
  transition: 500ms;
}

.display-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 24px 16px 16px 16px;
  background-color: #ededed;
}
.unit-length,
.unit-volume,
.unit-mass {
  background-color: #ffffff;
  padding-bottom: 20px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}

.unit-length h4,
.unit-volume h4,
.unit-mass h4 {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 500;
  color: #6943ff;
}

span {
  font-weight: 300;
  font-size: 16px;
}
